body {
  background-image: url(../img/bg.jpg);
  background-color: black;
}

nav {
  background: none; /*#e7e6e1;*/
}

.logo h1{
  font-family: 'Great Vibes'; font-size: 180%; color: #777973;
}

nav a {
  font-size: 130%;
  font-weight: 200;
  color: #777973;
  padding-top: 25px;
  padding-left: 30px;
  border: none !important;
}

.container {
 width: 80%;
 margin: 0px auto;
}


.vjs-default-skin .vjs-big-play-button
{
top: 50%;
left: 50%;
margin: -4em auto auto -6em;
}